### Implementing MICE to Fill Missing Values

In [ ]:
import pandas as pd
import numpy as np

### Import the Dataset

In [2]:
dataset = pd.read_csv("data_for_mice.csv",header=0,encoding='utf-8')
df = dataset.copy()
df.head()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,emp_length,...,home_ownership_OWN,home_ownership_RENT,verification_status_Source Verified,verification_status_Verified,loan_status_Current,loan_status_Default,loan_status_Fully Paid,loan_status_In Grace Period,loan_status_Late (16-30 days),loan_status_Late (31-120 days)
0,0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,10+ years,...,0,1,0,1,0,0,1,0,0,0
1,1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,< 1 year,...,0,1,1,0,0,0,0,0,0,0
2,2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,10+ years,...,0,1,0,0,0,0,1,0,0,0
3,3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,10+ years,...,0,1,1,0,0,0,1,0,0,0
4,4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,1 year,...,0,1,1,0,1,0,0,0,0,0

### Drop unnecessary column

In [3]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [4]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,emp_length,annual_inc,...,home_ownership_OWN,home_ownership_RENT,verification_status_Source Verified,verification_status_Verified,loan_status_Current,loan_status_Default,loan_status_Fully Paid,loan_status_In Grace Period,loan_status_Late (16-30 days),loan_status_Late (31-120 days)
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,10+ years,24000.0,...,0,1,0,1,0,0,1,0,0,0
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,< 1 year,30000.0,...,0,1,1,0,0,0,0,0,0,0
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,10+ years,12252.0,...,0,1,0,0,0,0,1,0,0,0
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,10+ years,49200.0,...,0,1,1,0,0,0,1,0,0,0
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,1 year,80000.0,...,0,1,1,0,1,0,0,0,0,0

### Extracting digits from 'term' column

In [5]:
##term
#print "Binarizing term"
df['term'] = [0 if x == " 36 months" else 1 for x in df['term']]

### Replacing missing values or NaN values with 0

In [6]:
df['emp_length'].fillna(0)

0        10+ years
1         < 1 year
2        10+ years
3        10+ years
4           1 year
           ...
10995      4 years
10996       1 year
10997      7 years
10998    10+ years
10999    10+ years
Name: emp_length, Length: 11000, dtype: object

In [7]:
df['emp_length'].replace(np.nan, 0, inplace=True)

In [8]:
df['emp_length'].unique()

array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years', 0],
      dtype=object)

### Extracting Month and Year from Issue Date

In [9]:
emp_years = dict(zip(df['emp_length'].unique(), np.arange(df['emp_length'].nunique())))
df['emp_length'] = df['emp_length'].map(lambda x: emp_years[x])

In [10]:
df['issue_month'] = [pd.to_datetime(x).month for x in df['issue_d']]

In [11]:
df['issue_year'] = [pd.to_datetime(x).year for x in df['issue_d']]

In [12]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,emp_length,annual_inc,...,verification_status_Source Verified,verification_status_Verified,loan_status_Current,loan_status_Default,loan_status_Fully Paid,loan_status_In Grace Period,loan_status_Late (16-30 days),loan_status_Late (31-120 days),issue_month,issue_year
0,1077501,1296599,5000.0,5000.0,4975.0,0,10.65,162.87,0,24000.0,...,0,1,0,0,1,0,0,0,12,2011
1,1077430,1314167,2500.0,2500.0,2500.0,1,15.27,59.83,1,30000.0,...,1,0,0,0,0,0,0,0,12,2011
2,1077175,1313524,2400.0,2400.0,2400.0,0,15.96,84.33,0,12252.0,...,0,0,0,0,1,0,0,0,12,2011
3,1076863,1277178,10000.0,10000.0,10000.0,0,13.49,339.31,0,49200.0,...,1,0,0,0,1,0,0,0,12,2011
4,1075358,1311748,3000.0,3000.0,3000.0,1,12.69,67.79,2,80000.0,...,1,0,1,0,0,0,0,0,12,2011

### Dropping redundant columns

In [13]:
df.drop(['url','desc','id','member_id','issue_d'], axis = 1, inplace=True)

### Exporting Data to csv

In [14]:
df.to_csv("test.csv")

### Wrap a data set to allow missing data handling with MICE

In [16]:
from statsmodels.imputation import mice
imp = mice.MICEData(df)

### Specify the imputation process for a single variable

In [17]:
imp.set_imputer('x1', formula='x2 + np.square(x2) + x3')

### Draw 20 imputations from a data set called df and save them in separate files with filename data_after_mice.csv

### update_all :- Perform a specified number of MICE iterations

In [18]:
for j in range(20):
    imp.update_all()
imp.data.to_csv("data_after_mice.csv")